<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://languagestatistics.tonyhegyes.net/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>tropaeolum.arvixe.com:8172</MSDeployServiceURL>
    <DeployIisAppPath>languagestatistics.tonyhegyes.net</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>language_gyesnet_pub</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ResourcesDatabase" Order="1" Enabled="False">
          <Destination Path="Data Source=tropaeolum.arvixe.com;Initial Catalog=languagestatistic_resources;Integrated Security=False;User ID=languagestatistic;Password=~Mg7XqzA$" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="language_statistic.DALs.ResourceContext, language_statistic" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="WorldLanguagesDatabase" Order="2" Enabled="False">
          <Destination Path="Data Source=tropaeolum.arvixe.com;Initial Catalog=languagestatistic_worldLanguages;Integrated Security=False;User ID=languagestatistic;Password=~Mg7XqzA$" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="language_statistic.DALs.LanguageContext, language_statistic" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AccountsDatabase" Order="3" Enabled="False">
          <Destination Path="Data Source=tropaeolum.arvixe.com;Initial Catalog=languagestatistic_accounts;Integrated Security=False;User ID=languagestatistic;Password=~Mg7XqzA$" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="language_statistic.Models.ApplicationDbContext, language_statistic" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AccountsDatabase-Web.config Connection String">
      <ParameterValue>Data Source=tropaeolum.arvixe.com;Initial Catalog=languagestatistic_accounts;Integrated Security=False;User ID=languagestatistic;Password=~Mg7XqzA$</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ResourcesDatabase-Web.config Connection String">
      <ParameterValue>Data Source=tropaeolum.arvixe.com;Initial Catalog=languagestatistic_resources;Integrated Security=False;User ID=languagestatistic;Password=~Mg7XqzA$</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)WorldLanguagesDatabase-Web.config Connection String">
      <ParameterValue>Data Source=tropaeolum.arvixe.com;Initial Catalog=languagestatistic_worldLanguages;Integrated Security=False;User ID=languagestatistic;Password=~Mg7XqzA$</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>